.Header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust items on the left and right */
  padding: 15px 30px;  /* Increased padding for better spacing */
  background-color: #ffffff; /* Clean white background */
  min-height: 70px;  /* Slightly taller header */
  height: auto;  /* Allow the header to adjust its height based on content */
  border-bottom: 3px solid #e0e0e0; /* Soft gray border */
  position: fixed; /* Fixes the header at the top */
  top: 0;
  left: 0;
  width: 100%;  /* Ensure it spans across the whole screen */
  z-index: 10;  /* Makes sure the header stays above other content */
}

.Header-logo-link {
  text-decoration: none; /* Removes underline */
}
