.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #ffffff; /* Adjust background color if necessary */
}

.Header-logo {
  width: 150px; /* Adjust logo size as needed */
  height: auto;
  margin: 0;
}
